#home.item.active
  %h1{style: "text-align: center;"}
    CoVis CoWorking is dead.
    %br Long live CoVis CoWorking!
  %hr/
  %h4 Well shit, where do I go for coworking??
  %p
    You're in luck! There's a crapton (*actual unit of measure) of places you can go, like..
    %ul
      %li
        %a{href: "http://dospace.org"} DoSpace
        \- Let's be honest, they're the reason I went out of business. I mean, my mom and pop store can't compete with the Walmarts of the world.
        I'm just kidding, DoSpace is frickin' awesome and that's probably where you're gonna find me coworking.
        %br
        %br
      %li
        %a{href: "http://calicommons.com"} CaliCommons
        \- Did you know there are actually OTHER coworking spaces in town? Like, *LEGIT* "coworking" spaces?? I crap you not. CaliCommons is exactly that, a legit coworking space. (I mean, sure they call it "co-working", with a HYPHEN, like amateurs!)
        The owner seems pretty cool though, even if he doesn't send me birthday cards. :cry:
        %br
        %br
      %li
        %a{href:"http://startupcollaborative.co/coworking"} Omaha Startup Collaborative, or Exchange, or something like that.
        \- This ain't your momma's coworking space. ..or your daddy's. Pretty sure nobody in your family is there. Maybe your younger brother, because he's always been cooler than you.
        This "collaborative" (*think Borg) isn't just where you go when you need to get out of the basement, it's where you go to get OUT OF THIS WORLD! They work super-hard to get startups running like well-oiled machines (*again, Borg),
        so if you have an idea rattling around in your head that you think can make you super rich, let me in on that shiz AND join this fine group of people!
  %h4 What *was* CoVis CoWorking?
  %p
    CoVis CoWorking was a coworking space in Omaha, Nebraska.
    Whether you work at home or spend your days hopping from coffee shop to coffee shop, CoVis welcomed all who seek growth.
  %p
    CoVis was here to help encourage your professional and social growth. You know, the
    %i good
    growths! Not the kind you see a doctor about.
    People help you grow; they share ideas, opinions, inspiration, and can be the catalyst needed to jump-start your creativity.
    Best of all, people need you too! You're an expert in what you do, so why not help others and be a part of something bigger?
  %h4 Who was CoVis CoWorking for?
  %p CoVis CoWorking was open to creatives in any industry that allows you to work remotely. It's for Developers, Designers, Real Estate Agents, Accountants, and more! Basically, if you're looking to get away from your office or home-office, and you're able to work peacefully with others, this was probably the place for you!
  %h4 Are you having a nervous breakdown?
  %p
    No, why? Who said that? Was it Steve?
    %br/
    Steeeeeeve!
  %hr/
  %h4 Can I talk to you about your horrible failure?
  %p
    If you're bored, I guess.
    %ul
      %li
        Email:
        %a{:href => "mailto:info@covisco.com"} info@covisco.com
      %li
        Tweet:
        %a{:href => "http://www.twitter.com/covisco"} @covisco
  %h4 Skid Vis Out! *mike drop*
  %br
    sorry, mike.