#home.item.active
  %h1{style: "text-align: center;"}
    CoVis CoWorking is dead.
    %br Long live CoVis CoWorking!
  %hr/
  %h4 Well shit, where do I go for coworking??
  %p
    You're in luck! There's a crapton (*actual unit of measure) of places you can go, like..
    %ul
      %li
        %a{href: "http://dospace.org"} DoSpace
        \- Let's be honest, they're the reason I went out of business. I mean, my mom and pop store can't compete with the Walmarts of the world.
        I'm just kidding, DoSpace is frickin' awesome and that's probably where you're gonna find me coworking.
        %br
        %br
      %li
        %a{href: "http://calicommons.com"} CaliCommons
        \- Did you know there are actually OTHER coworking spaces in town? Like, *LEGIT* "coworking" spaces?? I crap you not. CaliCommons is exactly that, a legit coworking space. (I mean, sure they call it "co-working", with a HYPHEN, like amateurs!)
        The owner seems pretty cool though, even if he doesn't send me birthday cards. :cry:
        %br
        %br
      %li
        %a{href:"http://startupcollaborative.co/coworking"} Omaha Startup Collaborative, or Exchange, or something like that.
        \- This ain't your momma's coworking space. ..or your daddy's. Pretty sure nobody in your family is there. Maybe your younger brother, because he's always been cooler than you.
        This "collaborative" (*think Borg) isn't just where you go when you need to get out of the basement, it's where you go to get OUT OF THIS WORLD! They work super-hard to get startups running like well-oiled machines (*again, Borg),
        so if you have an idea rattling around in your head that you think can make you super rich, let me in on that shiz AND join this fine group of people!
  %h4 Are you having a nervous breakdown?
  %p
    No, why? Who said that? Was it Steve?
    %br/
    Steeeeeeve!
  %hr/
  %h4 Can I talk to you about your horrible failure?
  %p
    If you're bored, I guess.
    %ul
      %li
        Email:
        %a{:href => "mailto:info@covisco.com"} info@covisco.com
      %li
        Tweet:
        %a{:href => "http://www.twitter.com/covisco"} @covisco
  %h4 Skid Vis Out! *mike drop*
  %br
    sorry, mike.